<br>
<div class="container">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <%= @score.competition_name %>
        <span style="float: right;">
          <span class="dot"></span>
          <%= @score.created_at.strftime("%d-%b-%y") %>
        </span>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= @score.home_team_name %>
          <span class="float-right team-score">
            <%= @score.home_team_fulltime_score %>
          </span>
        </li>
        <li class="list-group-item"><%= @score.away_team_name %>
          <span class="float-right team-score">
            <%= @score.away_team_fulltime_score %>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <br>
  <div class="col-sm-10">
    <ul>
      <li>Your twitter timeline deserves to know your opinion of the game</li>
      <br>
      <li>Having said that, please only review the game if you actually watched it</li>
      <br>
      <li>Your review will be sent out as a tweet. Dont forget to add relevant hashtags</li>
      <br>
      <% home_and_away_ids = [@score.home_team_id, @score.away_team_id] %>
      <% if current_user.football_team.present? %>
        <% if home_and_away_ids.include? current_user.football_team.team_api_id %>
          <li class="team-score"><%= "You chose #{current_user.football_team.short_name} as your club, so you will review this game as a #{current_user.football_team.short_name} fan" %></li>
        <% else %>
          <li class="team-score"><%= "You chose #{current_user.football_team.short_name} as your club, so you will review this game as a Neutral fan" %></li>
        <% end %>
      <% else %>
        <li class="team-score"><%= "You have not chosen any club yet, so you will review this game as a Neutral fan" %></li>
      <% end %>

    </ul>
  <div>

  <%= simple_form_for @review, :url => football_score_football_reviews_path(@score, @review), :method => :post do |f| %>

    <div class="form-group">
      <label class="col-sm-1 control-label"></label>
      <div class="col-sm-6">
        <%= f.input :rating, collection: 1..10, :label => "Your Rating" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1 control-label"></label>
      <div class="col-sm-6">
        <%= f.input :content, as: :text,  :label => "Content", input_html: { id: 'character-count' }, placeholder: "how did the lads perform today?" %>
              <p>Charecter count: <em id="count"></em></p>

      </div>
    </div>
    <br>

    <div class="col-sm-4">
      <%= f.button :submit, "Tweet Review", class: "btn btn-md btn-block btn-primary" %>
    </div>
    <br>
  <% end %>
</div>

