  <div class="scores-index">
    <% @scores.each do | score | %>
      <%= link_to football_score_path(score) do %>
        <div class="card">
          <div class="card-header">
            <%= score.competition_name %>
            <span style="float: right;">
              <% if !score.archived_state %>
                <span class="dot"></span>
              <% end %>
                <%= score.created_at.strftime("%d-%b-%y") %>
              </span>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= score.home_team_name %>
              <span class="float-right team-score">
                <%= score.home_team_fulltime_score %>
              </span>
            </li>
            <li class="list-group-item"><%= score.away_team_name %>
              <span class="float-right team-score">
                <%= score.away_team_fulltime_score %>
              </span>
            </li>
          </ul>
        </div>
      <% end %>
      <br>
    <% end %>
  </div>

