  <div class="scores-index">
    <% @scores.each do | score | %>
      <%= link_to football_score_path(score) do %>
        <div class="card">
          <div class="card-header">
            <%= score.competition_name %>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= score.home_team_name %>
              <span class="float-right">
                <%= score.home_team_fulltime_score %>
              </span>
            </li>
            <li class="list-group-item"><%= score.away_team_name %>
              <span class="float-right">
                <%= score.away_team_fulltime_score %>
              </span>
            </li>
          </ul>
        </div>
      <% end %>
      <br>
    <% end %>
  </div>

