<br>
<div class="container">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header">
        <%= @score.competition_name %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= @score.home_team_name %>
          <span class="float-right">
            <%= @score.home_team_fulltime_score %>
          </span>
        </li>
        <li class="list-group-item"><%= @score.away_team_name %>
          <span class="float-right">
            <%= @score.away_team_fulltime_score %>
          </span>
        </li>
      </ul>
    </div>
    <br>
    <% if user_signed_in? %>
      <%= link_to "Review this game", new_football_score_football_review_path(@score), class: "btn btn-md btn-primary" %>
    <% else %>
      <%= link_to "Sign in with twitter to review a game", user_twitter_omniauth_authorize_path, class: "btn btn-md btn-primary" %>
    <% end %>
    <br>
    <br>
    <% @score.football_reviews.each do | review | %>
      <div class="card bg-light mb-3">
        <div class="card-header">
          <span><%= "@#{review.user.username}" %></span>
          <span class="float-right" style="font-style: italic;"><%= "#{review.user.football_team.short_name} fan" %></span>
        </div>
        <div class="card-body">
          <span style="margin-right: 10px;"><i style="color: deeppink;" class="far fa-star"></i></span><span style="font-size: 20px"><%= "#{review.rating}" %></span>/10
          <br>
          <br>
          <div><%= review.content %></div>
        </div>
      </div>
      <br>
    <% end %>
  </div>
</div>
