<div class="tab-pane fade show active" id="v-pills-England" role="tabpanel" aria-labelledby="v-pills-England-tab">
  <% @teams.each do | team | %>
    <% if team.team_country == "England" %>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="team" id="<%= team.id %>" value="<%= team.id %>">
        <label class="form-check-label" for="<%= team.id %>">
          <%= team.short_name %>
        </label>
      </div>
    <% end %>
  <% end %>
</div>
<div class="tab-pane fade" id="v-pills-France" role="tabpanel" aria-labelledby="v-pills-France-tab">
  <% @teams.each do | team | %>
    <% if (team.team_country == "France") || (team.team_country == "Monaco")  %>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="team" id="<%= team.id %>" value="<%= team.id %>">
        <label class="form-check-label" for="<%= team.id %>">
          <%= team.short_name %>
        </label>
      </div>
    <% end %>
  <% end %>
</div>
<div class="tab-pane fade" id="v-pills-Germany" role="tabpanel" aria-labelledby="v-pills-Germany-tab">
  <% @teams.each do | team | %>
    <%= team.short_name if team.team_country == "Germany" %>
  <% end %>
</div>
<div class="tab-pane fade" id="v-pills-Italy" role="tabpanel" aria-labelledby="v-pills-Italy-tab">
  <% @teams.each do | team | %>
    <%= team.short_name if team.team_country == "Italy" %>
  <% end %>
</div>
<div class="tab-pane fade" id="v-pills-Spain" role="tabpanel" aria-labelledby="v-pills-Spain-tab">
  <% @teams.each do | team | %>
    <%= team.short_name if team.team_country == "Spain" %>
  <% end %>
</div>



      <div class="tab-content" id="v-pills-tabContent">
        <% @teams.each do | team | %>
          <div class="tab-pane fade show active" id="v-pills-<%= team.team_country %>" role="tabpanel" aria-labelledby="v-pills-<%= team.team_country %>-tab">
            <%= team.short_name %>
          </div>
        <% end %>
      </div>
